.container {
  display: table;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  max-width: 1260px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container__app {
  display: table-row;
  height: 100%;
}
.container__main,
.container__options {
  display: table-cell;
  vertical-align: top;
}
.container__main {
  padding-bottom: 25px;
  padding-right: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container__main-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container__options {
  width: 380px;
}
.sec {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(16,10,9,0.15);
}
.sec.-dimm {
  color: #7f8c8d;
}
.sec.-spacing-small .sec__heading {
  margin-bottom: 9px;
}
.sec__heading {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}
.sec__label {
  margin-right: 10px;
  color: #58cb6b;
  text-transform: uppercase;
}
.sec__btn {
  color: #b2b2c1;
  padding: 0.1em 0.6em;
  border: 1px solid #d8d8df;
  border-radius: 0.3em;
  cursor: pointer;
  -webkit-transition: 0.15s;
          transition: 0.15s;
  margin-right: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sec__btn:hover {
  color: #81ba8a;
  border: 1px solid #a3dcac;
  background: rgba(88,203,107,0.05);
}
.sec__btn:active {
  color: #78b282;
  border: 1px solid #92cb9b;
  background: rgba(88,203,107,0.07);
}
.check {
  display: inline-block;
  position: relative;
  margin-right: 7px;
  height: 10px;
  width: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.check input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.check input:checked + .check__display {
  background: #58cb6b;
  -webkit-transform: translateX(6px) translateZ(0);
          transform: translateX(6px) translateZ(0);
}
.check input:checked ~ .check__background {
  background: #d5f2da;
}
.check__background,
.check__display {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  -webkit-transition: 0.18s;
          transition: 0.18s;
}
.check__background {
  width: 100%;
  height: 100%;
  background: #efefef;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.06);
  z-index: 1;
}
.check__display {
  width: 10px;
  height: 10px;
  background: #d8d8d8;
  z-index: 2;
}
.drag-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  cursor: move;
}
.github-badge {
  position: relative;
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.github-badge a {
  display: block;
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
          clip-path: polygon(100% 0, 0 0, 100% 100%);
  -webkit-transition: 0.15s;
          transition: 0.15s;
}
.github-badge a:hover {
  opacity: 0.8;
}
.github-badge img {
  max-height: 135px;
}
.nano > .nano-pane {
  background: #fff;
  width: 4px;
  padding: 0;
  top: 90px;
  bottom: 25px;
}
.nano > .nano-pane:hover > .nano-slider {
  opacity: 1;
}
.nano > .nano-pane > .nano-slider {
  margin: 0;
  background: #58cb6b;
  opacity: 0.6;
  -webkit-transition: opacity 0.15s;
          transition: opacity 0.15s;
}
pre[class*="language-"] {
  padding: 1em 0.6em;
}
code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f6f6f6;
}
/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
  outline: none !important;
}
html {
  min-width: 880px;
  background-size: 170px;
  color: #000;
  font: 14px/1.4 'Helvetica', Arial, sans-serif;
}
body {
  background: #eee;
}
a {
  text-decoration: none;
  -webkit-transition: color 0.15s, background-color 0.15s, opacity 0.15s;
          transition: color 0.15s, background-color 0.15s, opacity 0.15s;
  color: #58cb6b;
}
a:hover {
  text-decoration: none;
  color: #36ad4a;
}
code {
  display: inline-block;
  background: #f6f6f6;
  padding: 0.08em 0.35em;
  color: #73738e;
  margin: 0.15em 0;
}
::-moz-selection {
  color: #fff !important;
  background: #58cb6b !important;
}
::selection {
  color: #fff !important;
  background: #58cb6b !important;
}
button,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
}
textarea,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'] {
  background: transparent;
  box: inline-block;
  border: none;
  -webkit-transition: background 0.15s, color 0.15s;
          transition: background 0.15s, color 0.15s;
  vertical-align: middle;
  border: 1px solid #eee;
  padding: 0.45em 0.8em;
  border-radius: 0.28em;
  box-shadow: none;
}
textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='search']:focus {
  border-color: #58cb6b;
}
textarea {
  resize: vertical;
}
img {
  height: auto;
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin: 0 0 10px;
}
@-webkit-keyframes drop {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -100, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -100, 0, 1);
  }
  2.7% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -51.058, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -51.058, 0, 1);
  }
  5.41% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.809, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.809, 0, 1);
  }
  8.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.532, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.532, 0, 1);
  }
  10.71% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.481, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.481, 0, 1);
  }
  17.42% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.064, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.064, 0, 1);
  }
  24.02% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.435, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.435, 0, 1);
  }
  37.44% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.153, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.153, 0, 1);
  }
  50.75% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.016, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.016, 0, 1);
  }
  64.06% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.002, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.002, 0, 1);
  }
  77.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.79% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes drop {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -100, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -100, 0, 1);
  }
  2.7% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -51.058, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -51.058, 0, 1);
  }
  5.41% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.809, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.809, 0, 1);
  }
  8.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.532, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.532, 0, 1);
  }
  10.71% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.481, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.481, 0, 1);
  }
  17.42% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.064, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.064, 0, 1);
  }
  24.02% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.435, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.435, 0, 1);
  }
  37.44% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.153, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.153, 0, 1);
  }
  50.75% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.016, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.016, 0, 1);
  }
  64.06% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.002, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.002, 0, 1);
  }
  77.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.79% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
.blend {
  padding: 0 8px;
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.blend__item {
  padding: 0.6em 0.4em;
  text-align: center;
  background: #f5f5f5;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: background 0.15s, color 0.15s;
          transition: background 0.15s, color 0.15s;
  margin: 0 0 7px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.125);
}
.blend__item:hover {
  background: #eee;
}
.blend__item.is-active {
  background: #58cb6b;
  color: #fff;
}
.blend__item:last-child {
  margin-bottom: 5px;
}
.filters {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
}
.filters__item {
  display: inline-block;
  color: #7f8c8d;
  font-weight: 600;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-bottom: 0.8em;
  -webkit-transition: 0.15s;
          transition: 0.15s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  white-space: nowrap;
}
.filters__item.is-active {
  color: #58cb6b;
}
.filters__value {
  display: inline-block;
  padding: 0 0.3em;
  color: #777;
  margin: 0 0.2em;
  -webkit-transition: 0.15s;
          transition: 0.15s;
  background: #eee;
  border-radius: 3px;
  cursor: ns-resize;
}
.filters__value:hover {
  background: #e0e0e0;
}
.header {
  padding: 15px 0;
  color: #f9f9f9;
  height: 90px;
}
.header__inner {
  position: relative;
}
.header__logo {
  float: left;
  width: 50px;
  height: 40px;
  background: -webkit-linear-gradient(40deg, #6affb8, #5ef056);
  background: linear-gradient(50deg, #6affb8, #5ef056);
  margin: 12px 15px 0 0;
  position: relative;
  vertical-align: -13px;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
}
.header__logo:before {
  content: '';
  position: absolute;
  top: -20px;
  left: 2px;
  width: 44px;
  height: 60px;
  background: url("../img/drop.svg") no-repeat center;
  mix-blend-mode: darken;
  -webkit-animation: drop 2s 0.4s linear both;
          animation: drop 2s 0.4s linear both;
}
.header h1 {
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 5px;
  color: #e88d93;
}
.header h3 {
  margin: 0;
  color: #7d86a0;
}
.hint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  margin: 11px;
}
.hint__body {
  position: absolute;
  top: 0;
  left: 0;
  padding: 13px 22px 10px 18px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.25s, visibility 0.25s;
          transition: transform 0.3s, opacity 0.25s, visibility 0.25s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}
.hint__body.is-visible {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.hint__body li {
  margin-bottom: 5px;
}
.hint__body .fa {
  margin-right: 8px;
  display: inline-block;
  width: 12px;
  text-align: center;
}
.options {
  color: #000;
}
.options:hover .nano-pane > .nano-slider {
  opacity: 1;
}
.options .sec:first-child {
  margin-top: 90px;
}
.options .sec:last-child {
  margin-bottom: 25px;
}
.options .sec__heading {
  margin-bottom: 15px;
}
.options__inner {
  padding: 0 15px 0 5px;
}
.options__section {
  padding: 15px 10px;
  margin-bottom: 8px;
}
.output {
  margin-bottom: -12px;
}
.output code {
  background: transparent;
  margin: 0;
}
.picker {
  padding: 5px 0;
  margin: -3px 0;
}
.picker__current {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
  border: 1px solid rgba(0,0,0,0.15);
  margin-right: 10px;
  cursor: pointer;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAgMAAAAOFJJnAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX////f398AAADoq0bgAAAAAWJLR0QCZgt8ZAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABlJREFUGNNjYGAIDYVgyhjUMYWBcgOo6x4A6nkqgREgVhUAAAAASUVORK5CYII=");
  background-size: 100%;
}
.picker__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.picker__input {
  position: relative;
  margin-right: 10px;
}
.picker__input .inp-text {
  background: #fff;
  padding: 0.4em 2.2em 0.4em 0.7em;
  color: #73738e;
  width: 130px;
}
.picker__input input {
  height: 28px;
}
.picker__call {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 30px;
  height: 100%;
  color: #73738e;
  font-size: 0.8em;
  line-height: 30px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.15s;
          transition: 0.15s;
}
.picker__call:hover {
  color: #58cb6b;
}
.picker__call .inp-color {
  opacity: 0;
  visibility: hidden;
}
.picker__clear {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 26px;
}
.picker__variants {
  line-height: 1;
}
.picker__variants-item {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0 4.5px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.15);
  cursor: pointer;
  -webkit-transition: 0.15s;
          transition: 0.15s;
  vertical-align: middle;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAgMAAAAOFJJnAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX////f398AAADoq0bgAAAAAWJLR0QCZgt8ZAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABlJREFUGNNjYGAIDYVgyhjUMYWBcgOo6x4A6nkqgREgVhUAAAAASUVORK5CYII=");
  background-size: 100%;
}
.picker__variants-item:hover {
  opacity: 0.8;
}
.preview {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.preview__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 3px;
}
.preview__screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: move;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}
.source {
  color: #ababbb;
  font-size: 0.95em;
  margin-bottom: 10px;
}
.source__inner {
  padding: 10px 15px;
}
.source__item {
  padding: 14px 35px 14px 30px;
  margin: 0 -10px;
  border-bottom: 1px dashed rgba(0,0,0,0.1);
  background: #fff;
}
.source__item:first-child {
  padding-top: 5px;
}
.source__item:last-child {
  border-bottom: none;
  padding-bottom: 5px;
}
.source__item.is-hidden .source__input-are,
.source__item.is-hidden .source__selected,
.source__item.is-hidden .source__buttons *:not(.-hide),
.source__item.is-hidden input {
  pointer-events: none;
  color: #eee;
}
.source__item.is-hidden .source__controls-item {
  pointer-events: none;
  opacity: 0.5;
}
.source__item.is-hidden .source__buttons-item.-hide i {
  color: #ffa500;
}
.source__top,
.source__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.source__top {
  position: relative;
  margin-bottom: 7px;
  margin-left: -30px;
  background: #fff;
  height: 32px;
}
.source__selected,
.source__drag-handler {
  height: 100%;
  line-height: 32px;
  -webkit-transition: 0.15s;
          transition: 0.15s;
}
.source__selected {
  text-align: center;
  width: 30px;
  background: #eee;
  cursor: pointer;
}
.source__selected:hover {
  color: #58cb6b;
}
.is-selected .source__selected {
  background: #58cb6b;
  color: #fff;
}
.source__drag-handler {
  position: absolute;
  top: 0;
  left: 100%;
  text-align: center;
  width: 25px;
  cursor: row-resize;
  margin-left: 4px;
  color: #aaa;
}
.source__drag-handler:hover {
  color: #999;
}
.source__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  border: 1px solid #eee;
  border-left: none;
  -webkit-transition: border-color 0.15s;
          transition: border-color 0.15s;
}
.is-selected .source__input {
  border-color: #58cb6b;
}
.source__input-area {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.source__input-area input {
  width: 100%;
  color: #73738e;
  border-radius: 0;
  border: none;
}
.source__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: #73738e;
}
.source__buttons-item {
  width: 30px;
  height: 100%;
  overflow: hidden;
  line-height: 32px;
  text-align: center;
  -webkit-transition: 0.2s;
          transition: 0.2s;
  cursor: pointer;
}
.source__buttons-item.is-hidden {
  opacity: 0.5;
  pointer-events: none;
}
.source__buttons-item:hover {
  color: #58cb6b;
}
.source__buttons-item input {
  opacity: 0;
  visibility: hidden;
}
.source__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.source__controls-item {
  padding: 4px 10px;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #8c8c8c;
  background: #f5f5f5;
  cursor: pointer;
  -webkit-transition: 0.15s;
          transition: 0.15s;
  margin-right: 8px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.125);
}
.source__controls-item:hover {
  background: #eee;
}
.source__controls-item:last-child {
  margin-right: 0;
}
.source__controls-item.is-active {
  background: #e6f7e9;
  color: #58cb6b;
  box-shadow: 0 1px 2px #b4e8bc;
}
