.filters
  columns 2
  // no styles for filters yet
  &__item
    display inline-block
    color #7f8c8d
    font-weight 600
    letter-spacing .03em
    cursor pointer
    margin-bottom .8em
    transition .15s
    &.is-active
      color $base-sub
      .options__filters-value
        background $base-sub
        color #fff

  &__value
    display inline-block
    padding 0 .3em
    color #777
    margin 0 .2em
    transition .15s
    background #eee
    border-radius 3px
    cursor ns-resize
