.header
  padding 12px 0
  color #f9f9f9
  &__inner
    position relative
  &__logo
    float left
    width 50px
    height 40px
    background linear-gradient(50deg, #6affb8, #5ef056)
    margin 15px 15px 0 2px
    position relative
    vertical-align -13px
    filter grayscale(20%)
    &:before
      content ''
      position absolute
      top -20px
      left 2px
      width 44px
      height 60px
      background url('../img/drop.svg') no-repeat center
      mix-blend-mode darken
      animation drop 2s .4s linear both
  h1
    font-family 'Helvetica Neue'
    font-size 30px
    text-transform uppercase
    margin 0 0 8px
    color #e88d93
  h3
    margin 0
    color darken(#c4c8d4, 30%)
