.options
  color $text-main
  // max-height 100%
  .sec
    &:last-child
      margin-bottom 20px
    &__heading
      margin-bottom 15px
  &__inner
    padding 0 15px 0 5px
  &__section
    padding 15px 10px
    margin-bottom 10px
