.options
  color $text-main
  &:hover
    .nano-pane > .nano-slider
      opacity 1
  .sec
    &:first-child
      margin-top 90px
    &:last-child
      margin-bottom 25px
    &__heading
      margin-bottom 15px
  &__inner
    padding 0 15px 0 5px
  &__section
    padding 15px 10px
    margin-bottom 8px
