.picker
  padding 5px 0
  margin -3px 0
  &__current
    width 28px
    height 28px
    border-radius 3px
    transition background-color .2s
    border 1px solid rgba(#000, 15%)
    margin-right 10px
    cursor pointer
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAgMAAAAOFJJnAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX////f398AAADoq0bgAAAAAWJLR0QCZgt8ZAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABlJREFUGNNjYGAIDYVgyhjUMYWBcgOo6x4A6nkqgREgVhUAAAAASUVORK5CYII=')
    background-size 100%
  &__body
    display flex
    align-items center
  &__input
    position relative
    margin-right 10px
    .inp-text
      background #fff
      padding .4em 2.2em .4em .7em
      color $text-sub
      width 130px
    input
      height 28px

  &__call
    position absolute
    top 0
    right 0
    text-align center
    width 30px
    height 100%
    color $text-sub
    font-size .8em
    line-height 30px
    overflow hidden
    cursor pointer
    transition .15s
    &:hover
      color $base-sub
    .inp-color
      opacity 0
      visibility hidden
  &__clear
    display inline-block
    width 28px
    height 28px
    line-height 26px
  &__variants
    line-height 1
    &-item
      display inline-block
      width 19px
      height 19px
      margin 0 4.5px
      border-radius 50%
      border 1px solid rgba(#000, 15%)
      cursor pointer
      transition .15s
      vertical-align middle
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAgMAAAAOFJJnAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX////f398AAADoq0bgAAAAAWJLR0QCZgt8ZAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABlJREFUGNNjYGAIDYVgyhjUMYWBcgOo6x4A6nkqgREgVhUAAAAASUVORK5CYII=')
      background-size 100%
      &:hover
        opacity .8
