.preview
  position relative
  flex 1
  &__inner
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background #fff
    overflow hidden
  &__screen
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    cursor move
    transition background-color .2s
