.preview
  position relative
  flex 1
  &__inner
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background #fff
    overflow hidden
    transition background-color .2s
  &__screen
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    cursor move

  &__colors
    float right
    padding 10px
    cursor default
    margin-left 5px
    &-item
      position relative
      z-index 10
      display inline-block
      width 15px
      height 15px
      margin-left 5px
      border-radius 50%
      border 1px solid rgba(#000, 10%)
      cursor pointer
      transition .15s
      &:hover
        opacity .8
