// font-face generator
$font-face($font-name, $file-path, $weight = 'normal', $style = 'normal')

  $url  = 'url("' + $file-path + '.woff2") format("woff2"), '
  $url = $url + 'url("' + $file-path + '.woff") format("woff"), '
  $url = $url + 'url("' + $file-path + '.ttf") format("truetype")'

  @font-face
    font-family $font-name
    src unquote($url)
    font-weight unquote($weight)
    font-style unquote($style)


// clearfix
clearf()
  &:after
    content ""
    display table
    clear both


// hiding any text from a block
hide-text()
  text-indent 300%
  white-space nowrap
  overflow hidden


// input placeholder styling
placeholder()
  if selector() == "&"
    error( "placeholder() must be called from a ruleset!" )
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
