mixin about()
  .sec__heading
    .sec__label About this project
  .sec__inner
    p FilterBlend is a playground for the new CSS <code>background-blend-mode</code> and <code>filter</code> properties.
    p You can find this project on <a href='https://github.com/ilyashubin/FilterBlend' target='_blank'>Github</a> or <a href='https://twitter.com/intent/tweet?text=Handy CSS blend modes and filters playground.&url=http://ilyashubin.github.io/FilterBlend/' class='share'>Tweet</a> about it.
