mixin hint()
  .hint
    .hint__body.sec.-dimm.-spacing-small.js-hint
      .sec__heading
        .sec__label How to use
        .sec__btn ok, got it
      .sec__inner
        ul
          li
            i.fa.fa-hand-rock-o
            span Drag preview area to change position.
          li
            i.fa.fa-sort
            span Use mouse wheel to change size.
          li 
            i.fa.fa-crosshairs
            span Click to switch current background layer.
