mixin howto()
  .howto
    ul
      li.
        Just paste image URL you want to preview, or pick your local image by clicking <i class='fa fa-file-image-o'></i>
      li.
        Click on position control to set value to 'center'. Click on size control to set it to 'auto'.
      li.
        Drag preview area to change image position or use mouse wheel to change image size. 
      li.
        Switch current image by click on the preview area.
      li.
        To change background color use color picker in the top right corner of the preview area.
        
