mixin options()
  .options
    .options__inner
      .options__section.sec.-blend
        filterblend-blend(v-ref='blend' str='{{@ blendStr}}')
      .options__section.sec.-filters
        filterblend-filters(v-ref='filters' str='{{@ filtersStr}}')
        
        
