mixin options()
  .options.nano
    .options__inner.nano-content
      .options__section.sec
        sources(v-ref:sources :str.sync='backgroundStr')
      .options__section.sec
        picker(:color.sync='color')
      .options__section.sec
        blend(:str.sync='blendStr')
      .options__section.sec
        filters(:str.sync='filterStr')
      .options__section.sec.-spacing-small
        output(:str='outputStr')
      .options__section.sec.-dimm.-spacing-small
        +about
        
        
